@import "tailwindcss";

@font-face {
  font-family: "ELEGANT TYPEWRITER";
  src: url("@/public/fonts/ELEGANT_TYPEWRITER_REGULAR.TTF");

  font-weight: 400;
}

@theme {
  --color-kall-black: oklch(0.2333 0.0148 42.35 / 91.89%);
}

:root {
  font-family: "ELEGANT TYPEWRITER", system-ui, -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
    "Open Sans", "Helvetica Neue", sans-serif;
  color-scheme: light dark;
  line-height: 1.5;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}

#background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: invert(30%) sepia(10%) saturate(868%) hue-rotate(167deg)
    brightness(93%) contrast(94%);
}

a,
.social-img {
  cursor: pointer;
  transition: 0.1s ease-in-out;
}
a:hover,
.social-img:hover {
  filter: invert(84%) sepia(10%) saturate(868%) hue-rotate(167deg)
    brightness(93%) contrast(94%) blur(0.6px);
  transform: scale(1.05) rotate(1deg);
}

#gigs,
#contact,
main {
  min-height: 100vh;
}
